*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.icon{
    font-size: 24px;
}

body{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: #a3dbac;
}

.container-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 600vw;
    margin: 120px auto 0 auto;
}

.link-card{
    width: 500px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 16px 20px;
    color: #2da016;
    margin-bottom: 16px;
    border: 2px solid #000;
    box-shadow:#000 8px 8px 0px 0px;
    border-radius: 8px;
}

.container-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 12px;
}

.user-img{
    width: 100%;
}

.title{
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 5px;
}

.subtitle{
    color: #fff;
    font-size: 16px;
    margin-bottom: 8px;
}
